body{
	background-image: url(foto/hujan.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
body img{
	height: 500px;
	width: 500px;
	position: relative;
	bottom: -20px;
	right: -500px;
}
ul{
	font-family: Comic Sans MS;
	font-size: 25px;
}
ul li a {
	display: block;
	border-top: 1px;
	padding: 5px;
	color: white;bo
	background: transparent;
	margin-left: 1px;
}
ul li a:hover {
	background: maroon;
	display: inline-block;
}
.header{
	font-family: comic sans ms;
	font-size: 25px;
	color: white;
	text-align: center;{
}